@use "../fonts/Manrope";
@use "../utils";

.footer {
  @include Manrope.setFont(14px, 400);
  color: #94A3B8;
  margin-bottom: 20px;
  margin-top: 20px;

  @include utils.from('sm') {
    font-size: 16px;
    margin-top: 30px;
  }

  @include utils.from('md') {
    margin-top: 40px;
  }

  &__container {
    overflow: hidden;
  }

  &__wrap {
    background-color: #F8FAFC;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 1px solid #e2e8f0;
    border-left: unset;
    border-right: unset;

    @include utils.from('s') {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  &__logo {
    display: flex;
    flex-direction: column;
    gap: 15px;

    img {
      max-width: 250px;
    }

    & > span {
      max-width: 300px;
    }
  }

  &__links {
    & > span {
      text-transform: uppercase;
      font-size: 12px;
      color: #134E4A;
      font-weight: 600;

      @include utils.from('s') {
        font-size: 14px;
      }

      @include utils.from('sm') {
        font-size: 16px;
      }
    }

    ul {
      list-style: none;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    a {
      text-decoration: unset;
      color: #64748B;
      border-bottom: 1px solid #b4e6e3;
    }
  }

  &__info {
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;

    @include utils.from('sm') {
      margin-top: 60px;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include utils.from('sm') {
      flex-direction: row;
      justify-content: center;
      gap: 50px;
    }

    @include utils.from('md') {
      gap: 100px;
    }
  }

  &__text {
    font-weight: 400;
    text-align: center;

    @include utils.from('md') {
      font-weight: 500;
    }
  }

  &__line-3 {
    text-align: center;
    font-weight: 400;

    @include utils.from('md') {
      font-size: 19px;
    }
  }
}