@use "../fonts/Manrope";
@use "../utils";

.hero {
  --pd: 20px;
  background-image: url("/src/assets/images/hero.webp");
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 100dvh;
  display: flex;
  position: relative;
  flex-direction: column;

  &__items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
    width: 100%;
    z-index: 20;
    position: relative;

    @include utils.from('s') {
      margin-top: 20px;
    }

    @include utils.from('sm') {
      flex-direction: row;
    }

    @media (min-width: 1181px) {
      flex-direction: column;
      position: absolute;
      max-width: 330px;
      width: 100%;
      left: 38px;
      bottom: 470px;
    }

    @media (min-width: 1340px) {
      max-width: 460px;
    }
    
    @media (min-width: 1365px) {
      max-width: 1365px;
      margin: 0 auto;
      left: unset;
    }
  }

  &__item {
    position: relative;
    background-color: #F2F4F5;
    border-radius: 24px;
    padding: 15px;
    overflow: hidden;
    width: 100%;

    @media (min-width: 1365px) {
      max-width: 540px;
    }

    &-num {
      position: relative;
      font-size: 36px;
      font-weight: bold;
      color: #161616;
      z-index: 10;
    }

    &-pos {
      font-size: 16px;
      color: var(--main-color);
      font-weight: bold;
      z-index: 10;
      position: relative;
    }

    img {
      position: absolute;
      height: 100%;
      width: auto;
      z-index: 1;
    }

    &-1 img {
      bottom: -30px;
      right: -60px;

      @include utils.from('s') {
        right: -15px;
        bottom: -20px;
      }

      @include utils.from('sm') {
        right: 15px;
        bottom: 0;
        padding: 10px 0;
      }
    }

    &-2 img {
      bottom: -15px;
      right: -15px;

      @include utils.from('s') {
        right: -5px;
        bottom: -10px;
      }

      @include utils.from('sm') {
        right: 15px;
        bottom: -10px;
      }
    }
  }

  &__logo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    z-index: 15;

    @include utils.from('sm') {
      gap: 20px;
    }

    &-img {
      padding: 0 var(--pd);
      max-width: 400px;
    }

    &-desc {
      text-align: center;
      color: var(--main-color);
      padding: 0 20px;
      font-size: 14px;
      font-weight: 600;

      @include utils.from('s') {
        font-size: 16px;
      }

      @include utils.from('sm') {
        font-size: 18px;
      }

      @include utils.from('md') {
        font-size: 19px;
      }
    }
  }

  &-container {
    padding: 0 var(--pd);
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

.hero-utp {
  padding-top: 65dvw;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;

  @media (min-width: 420px) {
    padding-top: 58dvw;
  }

  @media (min-width: 900px) {
    padding-top: 510px;
  }

  &__plate {
    position: absolute;
    z-index: 15;
    top: -50px;
    background-color: #96F1FA;
    border-radius: 8px;
    padding: 5px 10px;
    color: #004F54;
    font-weight: 600;
    text-align: center;
  }

  &__ppl {
    position: absolute;
    bottom: calc(100% - 20px);
    z-index: 1;
    right: 0;
    width: 100%;
    max-width: 850px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    @media (min-width: 1365px) {
      max-width: 800px;
    }

    img {
      width: 100%;
    }
  }

  &__container {
    position: relative;
    max-width: 1365px;
    margin: 0 auto;
    width: 100%;
  }

  &__wrap {
    background-color: white;
    padding: 20px;
    border-radius: 24px;
    box-shadow: 0 8px 36px 0 #00000026;
    z-index: 2;
    position: relative;

    @media (min-width: 1365px) {
      padding: 30px 20px;
    }
  }

  &__img {
    position: absolute;
    bottom: 1dvw;
    left: 2dvw;
    max-width: 10dvw;
    overflow: hidden;
    display: none;
    z-index: 15;

    @include utils.from('lg') {
      display: flex;
    }

    @media (min-width: 1365px) {
      max-width: 220px;
      left: 25px;
      bottom: 20px;
    }
  }

  &__title {
    font-size: 22px;
    color: #006067;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;

    @include utils.from('sm') {
      font-size: 26px;
      margin-bottom: 15px;
    }

    @include utils.from('md') {
      font-size: 28px;
    }

    @include utils.from('lg') {
      font-size: 30px;
    }

    @include utils.from('xl') {
      font-size: 32px;
    }
  }

  &__desc {
    color: #3E494A;
    text-align: center;
    font-size: 14px;
    margin-bottom: 15px;

    @include utils.from('s') {
      font-size: 15px;
      margin-bottom: 20px;
    }

    @include utils.from('sm') {
      font-size: 16px;
      margin-bottom: 30px;
    }

    @include utils.from('md') {
      font-size: 17px;
    }

    @include utils.from('lg') {
      font-size: 18px;
    }
  }

  &__select {
    max-width: 400px;
    margin:  0 auto;
  }
}

.hero-select {
  --bg-color: white;
  --radius: 16px;
  --padding: 10px;
  position: relative;
  font-size: 14px;

  @include utils.from('s') {
    font-size: 15px;
  }

  @include utils.from('sm') {
    font-size: 16px;
  }

  &__current {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    padding: var(--padding);
    border-radius: var(--radius);
    border: 1px solid #D0D5DD;
    color: #3E494A;
    z-index: 10;
    position: relative;
    cursor: pointer;
    transition: .2s all;

    svg {
      transition: .2s all;
    }

    &.default {
      color: #667085;
    }

    &:hover {
      border-color: #C4E5F3;
      color: #3E494A;
    }
  }

  &__list {
    position: absolute;
    top: calc(100% + 10px);
    width: 100%;
    list-style: none;
    background: var(--bg-color);
    border-radius: var(--radius);
    transform: translateY(-40px);
    opacity: 1;
    height: 0;
    z-index: 0;
    border: 1px solid #F2F4F7;
    box-shadow: 0px 4px 6px -2px #10182808;
    overflow: hidden;

    li {
      padding: var(--padding);
      transition: .2s all;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      cursor: pointer;

      &:hover {
        background-color: #F9FAFB;
        color: #3E494A;
      }

      &:after {
        content: "";
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0;
        visibility: hidden;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 15 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.1667 0.835938L5.00004 10.0026L0.833374 5.83594' stroke='%23006C73' stroke-width='1.66667' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
      }
    }

    li.active {
      background-color: #F9FAFB;

      &:after {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &.active {
    .hero-select__current {
      border-color: #C4E5F3;

      svg {
        transform: rotate(180deg);
      }
    }

    .hero-select__list {
      transform: translateY(0);
      height: max-content;
    }
  }
}

.hero-container:has(.hero-utp) {
  background: white;
  padding-bottom: 40px;

  @include utils.from('sm') {
    background: transparent;
  }

  @media (min-width: 1181px) {
    background: transparent;
  }

  &:before {
    content: "";
    width: 100%;
    height: 90%;
    background: linear-gradient(to top, white 11%, transparent 100%);
    position: absolute;
    left: 0;
    bottom: calc(100%);
    z-index: 10;

    @include utils.from('s') {
      height: 50%;
    }

    @include utils.from('sm') {
      bottom: 0;
      z-index: 1;
      background: linear-gradient(to top, white 55%, transparent 100%);
      height: 100%;
    }

    @media (min-width: 1181px) {
      background: linear-gradient(to top, white 5%, transparent 100%);
    }
  }
}

.hero-container:has(.hero__items) {
  @media (min-width: 1181px) {
    position: static;
  }
}