@use "../fonts/Montserrat";
@use "../utils";

.special {

  &__title {
    @include Montserrat.setFont(16px, 500);
    font-style: italic;
    margin-bottom: 14px;

    @include utils.from('sm') {
      font-size: 22px;
    }

    @include utils.from('md') {
      font-size: 25px;
    }

    @include utils.from('lg') {
      font-size: 30px;
    }

    @include utils.from('xl') {
      margin-bottom: 0;
      font-size: 32px;
      font-weight: 400;
      max-width: min-content;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__wrap {
    padding: 25px;
    border-radius: 50px;
    background: linear-gradient(226.18deg, #FFFFFF 30.41%, #B4C4FF 156.25%);

    @include utils.from('sm') {
      background: linear-gradient(226.18deg, #FFFFFF 1%, #B4C4FF 156.25%);
    }

    @include utils.from('xl') {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30px;
      @include utils.resetContainer();
    }
  }

  &__info {
    @include Montserrat.setFont(13px, 400);

    @include utils.from('xl') {
      font-size: 15px;
    }
  }

  &__flex {
    display: flex;
    flex-direction: column;
    gap: 15px;
    @include Montserrat.setFont(20px, 500);
    margin-bottom: 15px;

    @include utils.from('xl') {
      margin-bottom: 25px;
    }
  }

  &__line {
    span {
      font-weight: 700;
      color: var(--main-color);
    }
  }

  &__btn {
    background-color: #D92626;
    color: white;
    padding: 15px 15px;
    border: unset;
    margin-top: 20px;
    width: calc(100% + 20px);
    @include Montserrat.setFont(20px, 600);
    border-radius: 50px;
    margin-left: -10px;

    @include utils.from('xl') {
      min-width: max-content;
      width: auto;
      padding: 15px 60px;
      margin-top: 0;
    }
  }
}