@font-face {
  src: url("/src/assets/fonts/Montserrat.ttf");
  font-family: "Montserrat";
  font-display: swap;
}

@mixin setFont($size: 14px, $weight: 400) {
  font-family: "Montserrat", sans-serif;
  font-weight: $weight;
  font-size: $size;
}
